.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25273c;
  max-width: 540px;
  margin: 0 auto;
  border-radius: 0.75rem;
  height: 52px;
  margin-bottom: 1.5rem;
  box-shadow: 10px 10px 31px -22px rgba(0, 0, 0, 0.75);

  &.light {
    background-color: #fafafa;
  }

  input {
    background-color: transparent;
    font-size: 18px;
    width: 100%;
    padding: 0 1.5rem;
  }
}
